.git
.vscode
env
.env
.pytest_cache
__pycache__/
*.pyc

tests/
flake8_html_report/
htmlcov/
coverage.xml
.coverage

svg/
README.md
requirements*
setup.cfg

Dockerfile
docker-compose.yml

db.sqlite3

.circleci/

LICENSE

doc/
mission/



