{% extends "base.html" %}
{% block title %}Profiles{% endblock title %}

{% block content %}
<div class="container px-5 py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-header-ui-title mb-3 display-6">Profiles</h1>
        </div>
    </div>
</div>

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-10">
            <hr class="mb-0" />
            {% if profiles_list %}
                <ul class="list-group list-group-flush list-group-careers">
                    {% for profile in profiles_list %}
                        <li class="list-group-item">
                            <a href="{% url 'profile' username=profile.user.username %}">{{ profile.user.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No profiles are available.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container px-5 py-5 text-center">
    <div class="justify-content-center">
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'home' %}">
            Home
        </a>
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'lettings' %}">
            Lettings
        </a>
    </div>
</div>

{% endblock %}