{% extends "base.html" %}
{% block title %}{{ profile.user.username }}{% endblock title %}

{% block content %}
<div class="container px-5 py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-header-ui-title mb-3 display-6">{{ profile.user.username }}</h1>
        </div>
    </div>
</div>

<div class="container px-5 py-5 text-center">
	<div class="card">
	    <div class="card-body">
	        <div class="icon-stack icon-stack-lg bg-primary text-white mb-3"><i data-feather="user"></i></div>
	       	<p><strong>First name :</strong> {{ profile.user.first_name }}</p>
			<p><strong>Last name :</strong> {{ profile.user.last_name }}</p>
			<p><strong>Email :</strong> {{ profile.user.email }}</p>
			<p><strong>Favorite city :</strong> {{ profile.favorite_city }}</p>
	    </div>
	</div>
</div>

<div class="container px-5 py-5 text-center">
    <div class="justify-content-center">
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'profiles' %}">
        	<i class="ms-2" data-feather="arrow-left"></i>
            Back
        </a>
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'home' %}">
            Home
        </a>
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'lettings' %}">
            Lettings
        </a>
    </div>
</div>

{% endblock %}